.navbar .nav-link,
.navbar .nav-link:hover,
.navbar .nav-link:focus,
.navbar .nav-link:active {
  color: white !important;
  text-decoration: none;
}

.navbar{
    
}

.navbar-brand{
    color: white !important;
    font-size: 28px;
}

.Hebe{
  transition: transform 2s ease;
}

.Hebe:hover{
  transform: scale(1.15);
  transition: 2s;
}

.banner {
  height: auto;
  
  padding-top: 100px;
  padding-bottom: 100px;
}

.col{
  font-size: 19px;
  text-align: start;
  color: white;
}

.texto-titulo{
    color: #8a1106;
}

body{
  background: linear-gradient(to bottom, #f35a4c 0%, #fda199 50%, #ffcec9 100%);
  color: #8a1106;
}

.card{
  background-color: #f35a4c;
  color: white;
}