.navbar .nav-link,
.navbar .nav-link:hover,
.navbar .nav-link:focus,
.navbar .nav-link:active {
  color: #8a1106 !important;
  text-decoration: none;
}

.navbar{
    
}

.navbar-brand{
    color: #8a1106 !important;
    font-size: 28px;
}

.Hebe{
  transition: transform 2s ease;
}

.Hebe:hover{
  transform: scale(1.15);
  transition: 2s;
}

.banner {
  height: auto;
  
  padding-top: 100px;
  padding-bottom: 100px;
}

.col{
  font-size: 19px;
  text-align: start;
  color: #8a1106;
}

.texto-titulo{
    color: #8a1106;
}

body{
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 50%, #d7d7d7 100%);
  color: #8a1106;
}

.card{
  background-color: #a93e34;
  color: white;
}

.carousel{
  text-align: center;
  justify-self: center;
  display: flex;
  width: auto;
}